<h2>Mis heroes Favoritos</h2>

<ul class="heroes">
<li *ngFor= "let hero of heroes"
[class.selected]= "hero === selectedHero"
(click)="onSelect(hero)">
<span class="badge">{{hero.id}}</span>{{hero.name}}

</li>

</ul>

<div *ngIf= "selectedHero">
<h2>{{selectedHero.name | uppercase}} Detalles</h2>
<div><span>id:</span>{{selectedHero.id}}</div>

<div>
  <label for = "hero-name">Heroe nombre</label>
<input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="nombre">


</div>

<div>
  <label for = "hero-edad">Heroe Edad</label>
<input id="hero-edad" [(ngModel)]="selectedHero.edad" placeholder="Edad">


</div>


<div>
  <label for = "Poder">Poderes</label>
<input id="Poder" [(ngModel)]="selectedHero.poder" placeholder="Poder">


</div>

<div>
  <label for = "identidad">identidad</label>
<input id="identidad" [(ngModel)]="selectedHero.identidad" placeholder="identidad">


</div>

</div>
